.canvas {
  width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 600px;
  font-family: "Arial", sans-serif !important;
  background-color: whitesmoke;
}
.info {
  text-align: left;
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
}
.info h1 {
  animation: mavvana 1s ease;
}
.info h2 {
  animation: post 1s ease;
}
.info p {
  width: 340px;
  font-size: 1.2rem;
  animation: text 1s ease;
}

.img img {
  width: 600px;
  filter: drop-shadow(0 0 0.75rem rgb(224, 224, 224));
}

.info h1,
.info h2 {
  color: #f0a500;
  opacity: 0;
  animation: fadeInUp 1.5s forwards;
}

.info h1 {
  font-size: 2em;
  margin-bottom: 10px;
  animation-delay: 0.5s;
}

.info h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
  animation-delay: 1s;
}
.info p {
  font-size: 1.1em;
  line-height: 1.8;
  margin-bottom: 20px;
}

/* Keyframes for animation */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 600px) {
  .canvas {
    flex-direction: column;
    align-items: center;
    height: 800px;
    width: 100vw;
    justify-content: space-between;
  }
  .info {
    margin-top: 100px;
    font-size: 1.5rem;
    text-align: justify; /* Reduce the font size */
    width: 100%;
    padding: 10px 20px;
    letter-spacing: 0px;
    word-spacing: 0px;
  }
  .info h1 {
    font-size: 1em;
  }
  .info h2 {
    font-size: 1.5em;
  }
  .info p {
    width: 100%; /* Make paragraph width responsive */
    font-size: 1rem; /* Reduce the font size */
  }

  .img img {
    width: 360px; /* Make image width responsive */
    filter: drop-shadow(
      0 0 0.5rem rgb(224, 224, 224)
    ); /* Adjust shadow for mobile */
  }
}
