<div class="about">
  <div class="heading">
    <h2>About</h2>
  </div>
  <div class="img">
    <img src="../../../assets/images/about-file.jpeg" alt="" />
  </div>
  <div class="paragraph">
    <p>
      With a name like Mavvana, you already know that this young DJ and
      producer, is on that next-level, future-banger grind. in the last year,
      have pushed and broken the boundaries of trap, bass, moombahton, and have
      gone as far as serving up his own unique style. Mavvana known by those
      close to them as some of the hardest working producers in the industry
      Hailing from the India, Mavvana is getting a ton of support for his unique
      style that includes a blend of moombahton, trap & dutch house, Mavvana
      also a bass demon who has perfected an ability to mash together, unique
      leads with insane, blend of moombahton, trap, and percussions Mavvana drop
      the serious faces and proceed to obliterate dancefloors with their heavy
      bass and genre-destroying sets, keeping their live shows in a storm of
      incredible energy. When it comes to dancing, Mavvana knows how to light
      the fire in all of us. His debut, single "Guineo" with Godwonder & Rebel
      of You was released on Hermanito label in January 2021, showcasing an
      undeniable talent, versatility, and eccentricity that foretells a very
      promising future for this up and coming producer. there's no telling what
      heights/boundaries Mavvana will reach/break next.
    </p>
  </div>
</div>
