<div class="about">
  <div class="heading">
    <h2>About</h2>
  </div>
  <div class="paragraph">
    <p>
      Mavvana is a name that's been taking the music world by storm, captivating
      audiences globally with his electrifying beats and innovative soundscapes.
      As a celebrated DJ and producer, Mavvana has become synonymous with
      genre-defying music, effortlessly blending elements of trap, bass, and
      moombahton into a distinctive style that has set dancefloors ablaze
      worldwide.
    </p>
    <div class="img">
      <img src="../../../assets/images/about-file.jpeg" alt="About Mavvana" />
    </div>
    <p>
      Hailing from India, this dynamic artist has rapidly risen to prominence,
      earning acclaim for his unparalleled talent and high-energy performances.
      His debut single "Guineo," featuring Godwonder & Rebel of You, was a
      game-changer, marking the beginning of a trailblazing career that
      continues to push the boundaries of electronic music. With an ever-growing
      fanbase and a reputation for delivering unforgettable live shows, Mavvana
      is undeniably one of the most exciting names in contemporary music, and
      his influence is only set to expand.
    </p>
  </div>
</div>
