<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <div class="footer-section about">
        <h2 class="logo-text">Mavvana</h2>
        <p>
          Mavvana is dedicated to bringing you the best music tracks. Follow us
          on social media for the latest updates.
        </p>
        <div class="socials">
          <a target="_blank" href="https://www.facebook.com/MavvanaMusic"
            ><i class="fab fa-facebook-f"></i
          ></a>
          <a target="_blank" href="https://www.twitter.com/mavvana?lang=en"
            ><i class="fab fa-twitter"></i
          ></a>
          <a target="_blank" href="https://www.instagram.com/mavvana/?hl=en"
            ><i class="fab fa-instagram"></i
          ></a>
          <a target="_blank" href="https://www.youtube.com/@mavvana"
            ><i class="fab fa-youtube"></i
          ></a>
          <a
            target="_blank"
            href="https://open.spotify.com/artist/3pVxVY0KnhZbOqpjQgq5vD"
            ><i class="fab fa-spotify"></i
          ></a>
        </div>
      </div>

      <div class="footer-section links">
        <h2>Quick Links</h2>
        <ul>
          <li><a href="#home">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#music">Music</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div>

      <div class="footer-section contact">
        <h2>Contact</h2>
        <ul>
          <li><i class="fas fa-phone"></i> +91 8920 822 692</li>
          <li>
            <i class="fas fa-envelope"></i>
            mavvana.demo&#64;gmail.com
          </li>
          <li>
            <i class="fas fa-map-marker-alt"></i> 123 Street, City, Country
          </li>
        </ul>
      </div>
    </div>

    <div class="footer-bottom">
      &copy; 2024 Mavvana | Designed by Mavvana Team
    </div>
  </div>
</footer>
