<nav class="navbar bg-dark navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">MAVVANA</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 m-auto px-ul mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#"
            ><img
              class="nav-icons"
              src="../../../assets/images/facebook-icon.png"
              alt=""
          /></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"
            ><img
              class="nav-icons"
              src="../../../assets/images/instagram-icon.png"
              alt=""
          /></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"
            ><img
              class="nav-icons"
              src="../../../assets/images/spotify-icon.png"
              alt=""
          /></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"
            ><img
              class="nav-icons"
              src="../../../assets/images/youtube-icon.png"
              alt=""
          /></a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li> -->
      </ul>
    </div>
  </div>
</nav>
