<nav
  class="navbar bg-dark navbar-expand-lg bg-body-tertiary"
  data-bs-theme="dark"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="#" style="color: #f0a500">MAVVANA</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 m-auto px-ul mb-lg-0">
        <li class="nav-item">
          <a target="_blank" href="https://www.facebook.com/MavvanaMusic"
            ><i class="fab fa-facebook-f"></i
          ></a>
        </li>
        <li class="nav-item">
          <a
            target="_blank"
            href="https://open.spotify.com/artist/3pVxVY0KnhZbOqpjQgq5vD"
            ><i class="fab fa-spotify"></i
          ></a>
        </li>
        <li class="nav-item">
          <a target="_blank" href="https://www.twitter.com/mavvana?lang=en"
            ><i class="fab fa-twitter"></i
          ></a>
        </li>
        <li class="nav-item">
          <a target="_blank" href="https://www.instagram.com/mavvana/?hl=en"
            ><i class="fab fa-instagram"></i
          ></a>
        </li>
        <li class="nav-item">
          <a target="_blank" href="https://www.youtube.com/@mavvana"
            ><i class="fab fa-youtube"></i
          ></a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li> -->
      </ul>
    </div>
  </div>
</nav>
