<div class="music">
  <div class="heading">
    <h2>Music</h2>
  </div>
  <div class="paragraph">
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus itaque
      id rem voluptate quas, eveniet a fugiat dignissimos laboriosam, optio
      officia possimus laudantium Lorem ipsum dolor sit amet, consectetur
      adipisicing elit. Adipisci voluptates enim obcaecati voluptas,
      reprehenderit quis, aliquam aspernatur repudiandae neque consequuntur
      cumque voluptate ab debitis?.
    </p>
  </div>
  <div class="albums">
    <div *ngFor="let track of tracks">
      {{ track.name }}
    </div>
  </div>
</div>
