.music {
  height: auto;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: whitesmoke;
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
}
.paragraph p {
  text-align: justify;
  padding: 5px 10px;
}

h2{
  color:  #f0a500;
  font-size: 2em;
}


@media (min-width: 960px) {
  .paragraph p {
    width: 1200px;
    font-size: 18px;
  }
  .music {
    padding: 40px;
  }
}
